body {
    margin: 0; display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    height: 100vh; background-color: #a5d6f7;
    font-family: 'Segoe UI', sans-serif; overflow: hidden;
    /* Evita el zoom accidental al tocar mucho la pantalla en móvil */
    touch-action: manipulation; 
}

#overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.85); display: flex;
    justify-content: center; align-items: center; z-index: 100;
}

#modal {
    background: rgb(232, 255, 210); padding: 20px; border-radius: 20px;
    width: 90%; max-width: 600px; text-align: center; border: 4px solid #8bc34a;
    box-sizing: border-box;
}

#game-ui { 
    width: 95%; max-width: 800px; 
    display: flex; justify-content: space-between; 
    margin-bottom: 10px; box-sizing: border-box;
}

#status { font-size: 18px; font-weight: bold; color: #333; }

/* Canvas Responsive */
#gameCanvas { 
    width: 100%; max-width: 800px; height: auto; 
    border: 4px solid #333; border-radius: 10px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
    background-color: #686868;
}

#final-ui { margin-top: 15px; height: 60px; display: flex; justify-content: center; width: 100%; }

button {
    padding: 12px 25px; font-size: 18px; cursor: pointer;
    background: #800000; color: white; border: none; border-radius: 50px;
}

kbd {
    background-color: #eee; border-radius: 3px; border: 1px solid #b4b4b4;
    padding: 2px 6px; color: #333;
}


/* Ajustes para pantallas muy pequeñas */
@media (max-width: 600px) {
    #modal h1 { font-size: 1.5rem; }
    #modal p { font-size: 0.9rem; }
    #status { font-size: 14px; }
    .spacebar { 
        padding: 2px 10px; /* Reducimos de 30px a 10px */
        font-size: 0.75em; 
}
}

canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.mobile-info {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px dashed #8bc34a;
    margin-bottom: 35px;
}

/* Caja de controles dividida en dos */
.touch-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

/* Cada columna (Izquierda / Derecha) */
.touch-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Estilo para los "botones" táctiles (reutilizando el estilo kbd) */
.touch-side kbd {
    background-color: #f8f8f8;
    border: 2px solid #8bc34a; /* Verde a juego con el modal */
    color: #33691e;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 0 3px 0 #689f38;
    font-size: 0.9em;
}

.touch-side span {
    font-size: 0.8em;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}